@charset "ISO-8859-1";
body{
	background-color:lightyellow;
	border:1px solid black;
}
h2{
	text-shadow: 2px 1px 3px red;
}
nav{
    border:1px solid red;
    background-color:white;
	padding: 3px 3px 3px 3px;
	text-align:center;
}